<div class="relative flex items-center justify-center h-auto">
<div class="max-w-3xl w-full p-8 bg-gray-100 dark:bg-gray-700 dark:text-white shadow-xl h-full">
  <div class="flex">
    <div>
      <h1 class="text-gray-800 dark:text-white line-height-home-title text-6xl mt-5 mb-2 font-medium">Ordering food has never been easier</h1>
      <p class="mt-4 mb-4 text-black font-extralight dark:text-white text-xl " >
        We make it easier than ever to order gourmet food from your favorite local restaurants.
      </p>
      <button routerLink="/restaurants"
              class="py-3 px-4 mt-3 border shadow-sm text-lg font-normal rounded-md text-white bg-picton-blue dark:bg-gray-700">Choose a Restaurant</button>
    </div>
    <div class="hidden sm:block sm:ml-6">
      <img src="./assets/images/homepage-hero.jpg" alt="Restaurant table with glasses." class="img-height-width-homepage" />
    </div>
  </div>
</div>
</div>

